<div class="marquee1">
  <div class="marquee">
    <ul class="marquee__content">
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
    </ul>

    <ul aria-hidden="true" class="marquee__content">
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
    </ul>
  </div>
</div>
<div id="marquee2">
  <div class="marquee">
    <ul class="marquee__content">
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
    </ul>

    <ul aria-hidden="true" class="marquee__content">
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
    </ul>
  </div>
</div>
<div class="marquee1" id="marquee3">
  <div class="marquee">
    <ul class="marquee__content">
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
    </ul>

    <ul aria-hidden="true" class="marquee__content">
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
    </ul>
  </div>
</div>
<div class="marquee1" id="marquee4">
  <div class="marquee">
    <ul class="marquee__content">
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
    </ul>

    <ul aria-hidden="true" class="marquee__content">
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
      <li class="textoComStroke">EEGLS</li>
      <li class="textoSemStroke">EEGLS</li>
    </ul>
  </div>
</div>
